body {
  max-width: 960px;
  margin: 0 auto;
}

h3 {
  padding: 0;
  margin: 1%;
  text-align: center;
}

#userInput {
  display: block;
  margin: auto;
  font-family: arial, sans-serif;
  border: 2px solid darkgrey;
}

.center {
  width: 300px;
  margin: 0 auto;
}

#toCelsius {
  font-family: arial, sans-serif;
  margin-left: 55px;
  margin-top: 20px;

}

#toFahrenheit {
  font-family: arial, sans-serif;

}

button {
  border: 1px solid darkgrey;
  font-family: arial, sans-serif;
  font-weight: bolder;
  background: #fff;
  margin-top: 12px;
}

#submit {
  margin-left: 100px;
}


#output {
  border: 2px solid lightgray;
  font-family: arial, sans-serif;
  margin: 20px auto;
  width: 100px;
  height: 50px;
  font-size: 1.3em;

}